*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: #f9f9f9;
    color: #333;
}

a {
    color: #2e59a7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
}

header {
    background: #2e59a7;
    color: white;
    padding: 1rem;
    position: relative;
}

header .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

header .menu-icon span {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 4px 0;
}

nav.menu ul{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

nav.menu ul li a{
    color: white;
    font-weight: bold;
}

.hero {
    background: #fcac3d;
    color: white;
    padding: 3rem 1rem;
    text-align: center;
}

section {
    padding: 2rem 1rem;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(280px, 1fr));
    gap: 1.5rem;
}

.article {
    background: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 0 10px 
    rgba(0, 0, 0, 0.1);
}

.sidebar {
    background: #f4f4f4;
    padding: 1rem;
    margin-top: 2rem;
}

.sidebar h3 {
    margin-bottom: 1rem;
}

footer {
    background: #4e2a04;
    color: white;
    text-align: center;
    padding: 1rem;
}

.contact-form, .comment form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form input,
.contact-form textarea,
.comment-form input,
.comment-form textarea {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #f45830;
    color: white;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #d84624;
}

/*responsivitr*/
/*mobile*/
@media (max-wdth: 767px) {
    nav.menu ul {
        flex-direction: column;
        background: #2e59a7;
        display: none;
        padding: 1rem;
    }

    #menu-toggle:checked + label + nav ul {
        display: flex;
    }

    header .menu-icon {
        display: flex;
    }

    .article-grid {
        grid-template-columns: 1fr;
    }

    .sidebar {
        order: 2;
    }
}

/*tablette*/
@media (min-width: 768px) and (max-width: 1023px) {
    .article-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .sidebar {
        margin-top: 2rem;
    }
}

/*desktop*/
@media (min-width: 1024px) {
    .article-grid{
        grid-template-columns: repeat(3, 1fr);
    }

    main {
        display: flex;
        gap: 2rem;
    }

    .main-content {
        flex: 3;
    }

    .sidebar {
        flex: 1;
        margin-top: 0;
    }
}